@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1>Hangfire Demo</h1>
    <p>
        <a href="/hangfire">Go to Hangfire Dashboard</a>
    </p>
</div>
